<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {%- include head.html -%}

  <body class="text-red-500" >
    {{ content }}

    <div x-data="dashboard()">
      <dl class="grid grid-cols-1 gap-px mx-auto bg-gray-900/5 sm:grid-cols-2 lg:grid-cols-4">
        <div class="flex flex-wrap items-baseline justify-between px-4 py-10 bg-white shadow-md gap-x-4 gap-y-2 sm:px-6 xl:px-8">
          <dt class="text-sm font-medium leading-6 text-gray-500">Price</dt>
          <dd class="text-xs font-medium text-gray-700">+4.75%</dd>
          <dd x-money.en-US.USD.decimal="bitcoinPrice" class="flex-none w-full text-3xl font-medium leading-10 tracking-tight text-gray-900"></dd>
        </div>
        <div class="flex flex-wrap items-baseline justify-between px-4 py-10 bg-white shadow-md gap-x-4 gap-y-2 sm:px-6 xl:px-8">
          <dt class="text-sm font-medium leading-6 text-gray-500 capitalize">current difficulty</dt>
          <dd class="text-xs font-medium text-rose-600">+54.02%</dd>
          <dd class="flex-none w-full text-3xl font-medium leading-10 tracking-tight text-gray-900">$12,787.00</dd>
        </div>
        <div class="flex flex-wrap items-baseline justify-between px-4 py-10 bg-white shadow-md gap-x-4 gap-y-2 sm:px-6 xl:px-8">
          <dt class="text-sm font-medium leading-6 text-gray-500">Mining Reward</dt>
          <dd class="text-xs font-medium text-gray-700">-1.39%</dd>
          <dd class="flex-none w-full text-3xl font-medium leading-10 tracking-tight text-gray-900">$245,988.00</dd>
        </div>
        <div class="flex flex-wrap items-baseline justify-between px-4 py-10 bg-white shadow-md gap-x-4 gap-y-2 sm:px-6 xl:px-8">
          <dt class="text-sm font-medium leading-6 text-gray-500">Block Height</dt>
          <dd class="text-xs font-medium text-rose-600">+10.18%</dd>
          <dd class="flex-none w-full text-3xl font-medium leading-10 tracking-tight text-gray-900">$30,156.00</dd>
        </div>
      </dl>      

      <div class="grid grid-cols-2 p-2 bg-slate-50">
        <div x-ref="chart" class="p-2 bg-white shadow-md"></div>
      </div>
    </div>
  </body>
</html>
